* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    white-space: wrap;
}
html {
    font-size: calc(0.6vw + 0.6vh);
}
body{
    margin: 0 auto;
    padding: 0 auto;
    height: 745.2vh;
    width: 100%;
    /*top: 23.19%;
    left: 5.31%;*/
    background-color: rgba(255, 255, 255, 1);
}
.frame1, .frame2, .frame4, .frame5, .frame6{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.frame2{
    top: calc(100 * (1280/832));
}
.frame3{
    position: relative;
    width: 100%;
    height: 262vh;
    top: calc(100 * (1280/1664));
    background-color: rgba(0, 0, 0, 1);
}
.frame4{
    top: calc(100 * (1280/3842));
}
.frame5{
    top: calc(100 * (1280/4764));
}
.frame6{
    top: calc(100 * (1280/5506));
    background-color: rgb(190, 190, 190);
}
.frame1content1{
    position: relative;
    width: 39.375%;
    height: 23.4vh;
    top: 17.6%;
    left: 5.47%;
    font-size: 3em;
    line-height: 1.35;
    font-weight: 700;
    overflow: hidden;
    white-space: wrap;
    text-align: center;
    color: rgba( 0, 0, 0, 1);
    font-family: 'Radikal', sans-serif;
}
.frame1content2{
    position: relative;
    width: 15.86%;
    height: 2.88vh;
    top: 17.9%;
    left: 17.5%;
    font-size: 1.3em;
    line-height: 1;
    font-weight: 700;
    overflow: hidden;
    white-space: wrap;
    text-align: center;
    color: rgba( 0, 0, 0, 1);
    font-family: 'Radikal', sans-serif;
}
.frame1logo{
    position: relative;
    width: 13.75%;
    height: 21.2vh;
    top: -2.64%;
    left: -0.781%;
    background-image: image-set("static\\logo.jpg");
    background-size: 100% 100%;
}
.frame1box1{
    position: relative;
    width: 46.4%;
    height: 97.596vh;
    top: -46.4vh;
    left: 52.313%;
    border-radius: 3.5% / 2.6% ;
    background-color: black;
    background-image: url("Static\\new2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.frame1box2{
    position: absolute;
    width: 14%;
    height: 5.65vh;
    top: 92.2%;
    left: 2.97%;
    background-color: black;
    border-radius: 19.4% / 76.6%;
    cursor: pointer;
}
.frame1content3{
    position: absolute;
    width: 9.22%;
    height: 2.6vh;
    top: 93.75%;
    left: 7%;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2;
    overflow: hidden;
    white-space: wrap;
    text-align: center;
    color: rgba( 255, 255, 255, 1);
    font-family: 'Radikal', sans-serif;
    cursor: pointer;
}
.frame1circle1{
    position: absolute;
    width: 3.2%;
    height: 4.93vh;
    top: 92.55%;
    left: 3.2%;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(103, 149, 205);
}
.frame1image1{
    position: absolute;
    width: 1.8%;
    height: 3.13%;
    left: 3.89%;
    top: 93.5%;
    background-image: image-set("static\\Ringer Volume2 (2).png");
    background-size: 100% 100%;
    cursor: pointer;
}
.frame1text1{
    position: absolute;
    width: 13.59%;
    height: 5.29vh;
    top: 5.28%;
    left: 53.67%;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.3;
    color: rgb(255, 255, 255);
    white-space: wrap;
    text-align: left;
}
.frame1text2{
    position: absolute;
    width: 13.44%;
    height: 5.29vh;
    top: 5.29%;
    left: 72.89%;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.3;
    color: rgb(255, 255, 255);
    white-space: wrap;
    text-align: left;
}
.frame1text3{
    position: absolute;
    width: 5.4%;
    height: 4.81vh;
    top: 87.4%;
    left: 84.1%;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 20.25px;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: center;
    cursor: pointer;
}
.frame1box3{
    position: absolute;
    width: 11.8%;
    height: 7vh;
    top: 86.3%;
    left: 82.6%;
    border-radius: 11.9% / 31%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.frame1image2{
    position: absolute;
    width: 1.98%;
    height: 3.37vh;
    left: 90.8%;
    cursor: pointer;
    top: 88.1%;
    background-image: image-set("static\\Downloading Updates2 (2).png");
    background-size: 100% 100%;
}
.frame2box1{
    position: absolute;
    width: 45%;
    height: 93.4vh;
    top: 3.25%;
    left: 3.2%;
    border-radius: 6.2% / 4.6%;
    background-color: rgb(0, 0, 0);
    background-image: image-set("static\\new1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.frame2box2{
    position: absolute;
    width: 9.22%;
    height: 3.37vh;
    top: 14.7%;
    left: 51.6%;
    background-color: rgb(103, 149, 205);
}
.frame2text1{
    position: absolute;
    width: 9%;
    height: 2.6vh;
    top: 15%;
    left: 52%;
    content: "Our Company";
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
}
.frame2text3{
    position: absolute;
    width: 40.55%;
    height: 58vh;
    top: 22%;
    left: 52%;
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.1;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
}
.frame3text{
    position: absolute;
    width: 77%;
    height: 6.5vh;
    top: 2.7%;
    left: 11.6%;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
    white-space: wrap;
    text-align: left;
}
.frame3text2{
    position: absolute;
    width: 15.23%;
    height: 4.81vh;
    top: 96%;
    left: 66.33%;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
    white-space: wrap;
    text-align: left;
}
.frame3img1{
    position: absolute;
    width: 2.3%;
    height: 3.61vh;
    top: 96.1%;
    left: 86.34%;
    background-image: url("Static//Instagram.png");
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
}
.frame3img2{
    position: absolute;
    width: 2.3%;
    height: 3.61vh;
    top: 96.1%;
    left: 89.1%;
    background-image: url("Static//TikTok.png");
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
}
.frame3box1a{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 8.3%;
    left: 3%;
}
.frame3box1b{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 8.3%;
    left: 3%;
    opacity: 50%;
    background-blend-mode: luminosity;
    background-image: image-set("static\\energy.jpg");
}

.frame3box1mini1{
    position: absolute;
    width: 10.6%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 29%;
    left: 20.94%;
}
.frame3box1mini2{
    position: absolute;
    width: 12%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 29%;
    left: 32.2%;
}
.frame3box1text1{
    position: absolute;
    width: 13.4%;
    height: 9vh;
    top: 10.7%;
    left: 7%;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.25;
    color: rgba(255, 255, 255, 1);
    white-space: wrap;
    text-align: left;
}
.frame3box1text2{
    position: absolute;
    width: 3%;
    height: 2.4vh;
    top: 30%;
    left: 22.5%;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
    white-space: wrap;
    text-align: left;
}
.frame3box1text3{
    position: absolute;
    width: 8%;
    height: 2.9vh;
    top: 31%;
    left: 22.5%;
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.11;
    color: rgba(0, 0, 0, 1);
    white-space: wrap;
    text-align: left;
}
.frame3box1text4{
    position: absolute;
    width: 10.4%;
    height: 2.7vh;
    top: 30%;
    left: 33.4%;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
    white-space: wrap;
    text-align: left;
}
.frame3box1text5{
    position: absolute;
    width: 8.3%;
    height: 2.9vh;
    top: 31.2%;
    left: 33.4%;
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.11;
    color: rgba(0, 0, 0, 1);
    white-space: wrap;
    text-align: left;
}
.frame3box2a{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 8.3%;
    left: 51.5%;
}
.frame3box2b{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 8.3%;
    left: 51.5%;
    opacity: 50%;
    background-blend-mode: luminosity;
    background-image: image-set("static\\cleaning.jpg");
    background-size: 100% 100%;
}
.frame3box2text1{
    position: absolute;
    width: 16.2%;
    height: 9.1vh;
    top: 10.7%;
    left: 56%;
    content: "Catering & House Keeping";
    font-size: 2em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.25;
    color: rgba(255, 255, 255, 1);
    white-space: wrap;
    text-align: left;
}
.frame3box2text2{
    position: absolute;
    width: 3%;
    height: 2.4vh;
    top: 30%;
    left: 71.1%;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
    white-space: wrap;
    text-align: left;
}
.frame3box2text3{
    position: absolute;
    width: 8%;
    height: 2.9vh;
    top: 31%;
    left: 71.1%;
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.11;
    color: rgba(0, 0, 0, 1);
    white-space: wrap;
    text-align: left;
}
.frame3box2text4{
    position: absolute;
    width: 10.4%;
    height: 2.7vh;
    top: 30%;
    left: 82.5%;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.11;
    color: rgba(255, 255, 255, 1);
    white-space: wrap;
    text-align: left;
}
.frame3box2text5{
    position: absolute;
    width: 8.3%;
    height: 2.9vh;
    top: 31.2%;
    left: 82.5%;
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.11;
    color: rgba(0, 0, 0, 1);
    white-space: wrap;
    text-align: left;
}
.frame3box2mini1{
    position: absolute;
    width: 10.6%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 29%;
    left: 69.45%;
}
.frame3box2mini2{
    position: absolute;
    width: 12%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 29%;
    left: 80.7%;
}
.frame3box4a{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 37.4%;
    left: 51.5%;
}
.frame3box4b{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 37.4%;
    left: 51.5%;
    opacity: 50%;
    background-blend-mode: luminosity;
    background-image: image-set("static\\frame 2b.png");
}

.frame3box4mini1{
    position: absolute;
    width: 10.6%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 58.1%;
    left: 69.45%;
}
.frame3box4mini2{
    position: absolute;
    width: 12%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 58.1%;
    left: 80.7%;
}
.frame3box3a{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 37.4%;
    left: 3%;
}
.frame3box3b{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 37.4%;
    left: 3%;
    opacity: 50%;
    background-blend-mode: luminosity;
    background-image: image-set("static\\frame 2b.png");
}

.frame3box3mini1{
    position: absolute;
    width: 10.6%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 58.1%;
    left: 20.94%;
}
.frame3box3mini2{
    position: absolute;
    width: 12%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 58.1%;
    left: 32.2%;
}
.frame3box5a{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 66.5%;
    left: 3%;
}
.frame3box5b{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 66.5%;
    left: 3%;
    opacity: 50%;
    background-blend-mode: luminosity;
    background-image: image-set("static\\frame 2b.png");
}

.frame3box5mini1{
    position: absolute;
    width: 10.6%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 87.2%;
    left: 20.94%;
}
.frame3box5mini2{
    position: absolute;
    width: 12%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 87.2%;
    left: 32.2%;
}
.frame3box6a{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 66.5%;
    left: 51.5%;
}
.frame3box6b{
    position: absolute;
    width: 45.2%;
    height: 71.3vh;
    background-color: rgba(13, 25, 40, 1);
    border-radius: 6.2% / 6.1%;
    top: 66.5%;
    left: 51.5%;
    opacity: 50%;
    background-blend-mode: luminosity;
    background-image: image-set("static\\frame 2b.png");
}

.frame3box6mini1{
    position: absolute;
    width: 10.6%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 87.2%;
    left: 69.45%;
}
.frame3box6mini2{
    position: absolute;
    width: 12%;
    height: 9.7vh;
    background-color: rgba(103, 149, 205, 1);
    border-radius: 15.4% / 26%;
    top: 87.2%;
    left: 80.7%;
}
.frame4box1{
    position: absolute;
    width: 49%;
    height: 93vh;
    top: 4.1%;
    left: 48.4%;
    border-radius: 3.4% 2.7%;
    background-image: image-set("static\\Frame 4.png" );
    background-size: 100% 100%;
}
.frame4text1{
    position: absolute;
    width: 35%;
    height: 9.6vh;
    top: 4.1%;
    left: 3.1%;
    font-size: 1.1em;
    font-weight: 550;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.2;
    color: rgba(0, 0, 0, 1);
    white-space: wrap;
    text-align: left;
    opacity: 75%;
}
.frame4box2{
    position: absolute;
    width: 14.5%;
    height: 4.8vh;
    top: 8.2%;
    left: 81%;
    border-radius: 36px;
    opacity: 88%;
    background-color: rgba( 13, 25, 40, 1);
    cursor: pointer;
}
.frame4text2{
    position: absolute;
    width: 9.2%;
    height: 2.6vh;
    top: 9.6%;
    left: 84.3%;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.2;
    overflow: hidden;
    white-space: wrap;
    text-align: center;
    color: rgba( 255, 255, 255, 1);
    opacity: 94%;
    font-family: 'Radikal', sans-serif;
    cursor: pointer;
}
.frame4circle1{
    position: absolute;
    width: 2.7%;
    height: 4.09vh;
    top: 8.5%;
    left: 81.2%;
    border-radius: 50%;
    opacity: 94%;
    background-color: rgb(103, 149, 205);
    cursor: pointer;
}
.frame4img1{
    position: absolute;
    width: 2.03%;
    height: 3.13%;
    top: 9%;
    left: 81.5%;
    opacity: 94%;
    background-image: url("Static\\Ringer volume (2).png");
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
}
.frame4text3{
    position: absolute;
    width: 10.8%;
    height: 11.4vh;
    top: 44%;
    left: 3.1%;
    font-size: 5.3em;
    font-weight: 700;
    line-height: 1.5;
    overflow: hidden;
    white-space: wrap;
    text-align: left;
    color: rgba( 0, 0, 0, 1);
    opacity: 94%;
    font-family: 'Radikal', sans-serif;
}
.frame4line1{
position: absolute;
width: 42.1%;
height: 1.5px;
top: 57%;
left: 3.125%;
border: 1.5px;
background-color: rgb(217, 217, 217);
}
.frame4line2{
    position: absolute;
    width: 42.1%;
    height: 1.5px;
    top: 74.2%;
    left: 3.125%;
    border: 1.5px;
    background-color: rgb(217, 217, 217);
}
.frame4text4{
    position: absolute;
    width: 16.25%;
    height: 6.5vh;
    top: 46.8%;
    left: 23.44%;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.5;
    overflow: hidden;
    white-space: wrap;
    text-align: left;
    color: rgba( 0, 0, 0, 1);
    font-family: 'Radikal', sans-serif;
}
.frame4text5{
    position: absolute;
    width: 11.95%;
    height: 11.42vh;
    top: 61.2%;
    left: 3.13%;
    font-family: 'Radikal', sans-serif;
    font-size: 4.92em;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
    color: rgb(0, 0, 0);
    overflow: hidden;
    white-space: wrap;
}
.frame4text6{
    position: absolute;
    width: 12.89%;
    height: 6.5%;
    top: 64%;
    left: 23.44%;
    content: "Customer Satisfaction Rate";
    font-family: 'Radikal', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
    color: rgb(0, 0, 0);
    overflow: hidden;
    white-space: wrap;
}
.frame4text7{
    position: absolute;
    width: 13.67%;
    height: 11.42%;
    top: 78.125%;
    left: 3.13%;
    font-family: 'Radikal', sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
    color: rgb(0, 0, 0);
    overflow: hidden;
    white-space: wrap;
}
.frame4text8{
    position: absolute;
    width: 18.59%;
    height: 6.5%;
    top: 80.65%;
    left: 23.44%;
    font-family: 'Radikal', sans-serif;
    font-size: 1.36em;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
    color: rgb(0, 0, 0);
    overflow: hidden;
    white-space: wrap;
}
.frame4text9{
    position: absolute;
    width: 12.5%;
    height: 2.4vh;
    top: 91%;
    left: 51.8%;
    font-family: 'Radikal', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.1;
    text-align: left;
    color: rgb(255, 255, 255);
    overflow: hidden;
    white-space: wrap;
}
.frame4box3{
    position: absolute;
    width: 18%;
    height: 11.1vh;
    top: 82%;
    left: 77.3%;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
}
.frame4text11{
    position: absolute;
    width: 5.55%;
    height: 1.7vh;
    top: 84.1%;
    left: 84.1%;
    font-family: 'Radikal', sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: rgb(124, 124, 124);
    overflow: hidden;
    white-space: wrap;
}
.frame4text10{
    position: absolute;
    width: 10.55%;
    height: 4.3vh;
    top: 87%;
    left: 84.1%;
    font-family: 'Radikal', sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: rgb(0, 0, 0);
    overflow: hidden;
    white-space: wrap;
}
.frame4box4{
    position: absolute;
    width: 4.77%;
    height: 7.3vh;
    top: 84%;
    left: 78.4%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    background-image: image-set("static/Prof.png");
}
.frame4img{
   position: absolute;
   width: 49%;
   height: 91.8vh;
   top: 4.1%;
   left: 47.8%;
   border-radius: 3.4% 2.75%; 
   background-image: url("Static\\new4.jpg");
   background-size: 100% 100%;
}
.frame5text1{
    position: absolute;
    width: 34.1%;
    height: 15.6vh;
    top: 5.65%;
    left: 33.8%;
    font-size: 3.5em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: center;
}
.frame5text2{
    position: absolute;
    width: 18.3%;
    height: 4.6%;
    top: 28%;
    left: 76.5%;
    font-size: 0.98em;
    font-weight: 500;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(255, 255, 255);
    white-space: wrap;
    text-align: center;
}
.frame5box1{
    position: absolute;
    width: 93.7%;
    height: 70%;
    top: 24.4%;
    left: 3.1%;
    border-radius: 11px;
    background-color: rgb(0, 0, 0);
    background-image: image-set("static\\new3.jpg");
    background-size: 100% 100%;
    background-position: center;
}
.frame5logo{
    position: absolute;
    width: 13.75%;
    height: 21.2vh;
    top: 1.2%;
    left: 3.13%;
    background-color: rgba( 0, 0, 0, 1);
    background-image: image-set("static\\logo.jpg");
    background-size: 100% 100%;
    background-position: center;
}
.frame5box2{
    position: absolute;
    width: 14.5%;
    height: 5.65%;
    left: 80.23%;
    top: 83.1%;
    border-radius: 19.4% / 76.6%;
    background-color: rgba( 21, 39, 58, 1);
    cursor: pointer;
}
.frame5circle1{
    position: absolute;
    width: 3.2%;
    height: 4.9%;
    top: 83.4%;
    left: 80.5%;
    border-radius: 50%;
    background-color: rgb(99, 142, 196);
    cursor: pointer;
}
.frame5btn{
    position: absolute;
    width: 2.2%;
    height: 3.4vh;
    top: 84%;
    left: 80.9%;
    background-image: image-set("static\\downloading updates (2).png");
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
}
.frame5text3{
    position: absolute;
    width: 9.7%;
    height: 2.2%;
    top: 84.9%;
    left: 84.3%;
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(255, 255, 255);
    white-space: wrap;
    cursor: pointer;
}
.frame5text4{
    position: absolute;
    width: 2%;
    height: 4%;
    top: 78%;
    left: 5%;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1.1;
    color: rgb(255, 255, 255);
    white-space: wrap;
}
.frame5text5{
    position: absolute;
    width: 12%;
    height: 5%;
    top: 85%;
    left: 5%;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 37.8px;
    color: rgb(255, 255, 255);
    white-space: wrap;
}
.frame6box1{
    position: absolute;
    width: 93.4%;
    height: 90.1vh;
    top: 4.93%;
    left: 3.4%;
    border-radius: 3.7% / 5.9%;
    background-image: url("static//Rectangle 165.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.frame6text1{
    position: absolute;
    width: 42.2%;
    height: 20.7vh;
    top: 15.4%;
    left: 9%;
    font-size: 4.0em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(255, 255, 255);
    white-space: wrap;
    text-align: left;
}
.frame6text2{
    position: absolute;
    width: 10%;
    height: 2.2%;
    top: 39.5%;
    left: 11%;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(255, 255, 255);
    white-space: wrap;
    text-align: left;
}
.frame6box2{
    position: absolute;
    width: 13%;
    height: 5.2vh;
    top: 38%;
    left: 9%;
    border-radius: 55px;
    background-color: rgb(13, 25, 40);
}
.logo{
    position: absolute;
    width: 13.5%;
    height: 21.2vh;
    top: 761.99%;
    background-image: image-set("static\\logo.jpg");
    background-size: 100% 100%;
}
.text1{
    position: absolute;
    width: 31.4%;
    height: 2.3vh;
    top: 782.1%;
    left: 3.3%;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(0, 0, 0);
    opacity: 92%;
    white-space: wrap;
    text-align: left;
}
.text2{
    position: absolute;
    width: 19.4%;
    height: 3.85vh;
    top: 819.9%;
    left: 3.3%;
    font-size: 1.9em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
}
.text3{
    position: absolute;
    width: 30.4%;
    height: 5.3vh;
    top: 826.8%;
    left: 3.3%;
    font-size: 1.27em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(0, 0, 0);
    opacity: 69%;
    white-space: wrap;
    text-align: left;
}
.text4{
    position: absolute;
    width: 7.34%;
    height: 1.8%;
    top: 835.3%;
    left: 3.3%;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(79, 79, 79);
    white-space: wrap;
    text-align: left;
    opacity: 59%;
    cursor: text;
}
.text5{
    position: absolute;
    width: 4.3%;
    height: 1.8%;
    top: 843.2%;
    left: 4.67%;
    font-size: 0.9em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(255, 255, 255);
    white-space: wrap;
    text-align: left;
    cursor: pointer;
}
.line1{
    position: absolute;
    width: 30.4%;
    height: 1px;
    top: 839%;
    left: 3%;
    background-color: rgb(217, 217, 217);
}
.box1{
    position: absolute;
    width: 7%;
    height: 3.85vh;
    top: 842%;
    left: 3.2%;
    border-radius: 36% / 100%;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
.box2{
    position: absolute;
    width: 18%;
    height: 19.5vh;
    top: 819%;
    left: 45.3%;
    background-image: image-set("static\\map.png");
    background-color: black;
    background-size: 100% 100%;
    background-position: center;
}
.text6{
    position: absolute;
    width: 10.1%;
    height: 7.2vh;
    top: 840%;
    left: 45.3%;
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
}
.text7{
    position: absolute;
    width: 9.4%;
    height: 2.3vh;
    top: 766%;
    left: 45.3%;
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
    opacity: 92%;
}
.text8{
    position: absolute;
    width: 3.9%;
    height: 2.4vh;
    top: 772%;
    left: 45.3%;
    font-size: 1.1em;
    font-weight: 900;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}
.text9{
    position: absolute;
    width: 8.6%;
    height: 2.6vh;
    top: 776%;
    left: 45.3%;
    font-size: 1.1em;
    font-weight: 900;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}
.text11{
    position: absolute;
    width: 8.6%;
    height: 2.5vh;
    top: 780%;
    left: 45.3%;
    font-size: 1.1em;
    font-weight: 900;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 1;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
    text-decoration: underline;
}
/*.circle1{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    top: 7231px;
    left: 976px;
    background-image: image-set("static\\founder.jpg");
}
.text12{
    position: absolute;
    width: 263px;
    height: 19px;
    top: 7727px;
    left: 976px;
    content: "Building Your Dreams in Real Estate";
    font-size: 14px;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 18,9px;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
    opacity: 68%;
}
.text13{
    position: absolute;
    width: 204px;
    height: 40px;
    top: 7314px;
    left: 976px;
    content: "Building Your Dreams in Real Estate";
    font-size: 15px;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 20.25px;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
}
.text14{
    position: absolute;
    width: 119px;
    height: 19px;
    top: 7763px;
    left: 976px;
    content: "Building Your Dreams in Real Estate";
    font-size: 14px;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 18.9px;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
}
.text15{
    position: absolute;
    width: 101px;
    height: 19px;
    top: 7763px;
    left: 1128px;
    content: "Building Your Dreams in Real Estate";
    font-size: 14px;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 18.9px;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
}
.text16{
    position: absolute;
    width: 103px;
    height: 16px;
    top: 7244px;
    left: 1064px;
    content: "Building Your Dreams in Real Estate";
    font-size: 12px;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 16.2px;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
    opacity: 77%;
}
.text17{
    position: absolute;
    width: 129px;
    height: 19px;
    top: 7266px;
    left: 1064px;
    content: "Building Your Dreams in Real Estate";
    font-size: 14px;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 18.9px;
    color: rgb(0, 0, 0);
    white-space: wrap;
    text-align: left;
}
.box3{
    position: absolute;
    width: 73px;
    height: 25px;
    top: 7376px;
    left: 976px;
    border-radius: 32px;
    background-color: rgb(0, 0, 0);
}
.text18{
    position: absolute;
    width: 62px;
    height: 14px;
    top: 7382px;
    left: 987px;
    content: "Building Your Dreams in Real Estate";
    font-size: 10px;
    font-weight: 700;
    font-family: 'Radikal', sans-serif;
    overflow: hidden;
    line-height: 13.5px;
    color: rgb(255, 255, 255);
    white-space: wrap;
    text-align: left;
    opacity: 78%;
}
@media (max-width: 1270px){

}